:root {
    background: white;
}
* {
    color: black;
}
h1 {
    color: blue;
}

.green {
    color: green;
}

 #blue {
    color: blue;
}

section .box {
    background-color: green;
}

section .box p {
    background: red;
}
.brown {
    background-color: brown;
    color: white;
}

/* ul > li {
    background-color: red;
} */

button + span {
    background-color: red;
}

.susid ~ p {
    background-color: blue;
    color: white;
}
.salo {
    background-color: yellow;
}
#bread {
    background-color: yellow;
}

.first-task li:first-child {
    color: white;
}

.second-task li:first-child {
    color: yellow;
}

.third-task li:first-child {
    background-color: yellow;
}
 .four-task li:last-child {
    background-color: yellow;
}
.five-task li:last-child {
    color: white;
}

.only-child-task div:only-child {
    color: red;
} 

span:first-of-type {
    background-color: red;
}
span:last-of-type {
    background-color: red;
}

p:only-of-type {
    background-color: yellow;
}

a[href] {
    color: white;
}
li[value] {
    color: yellow;
}

li[value="3"] {
    background-color: red;
}

button[class~="primary"] {
    background-color: blue;
}

button[class|="secondary"] {
    background-color: red;
}

.lesson-three-task-six li[class^="b"] {
    background-color: white;
    color: green;
}

.lesson-three-task-seven li[class*="on"] {
    background-color: white;
    color: green;
}

.lesson-three-task-eight li span[class$="s"] {
    background-color: white;
    color: blue;
}

.lesson-three-task-nine h2::first-letter {
    color: red;
}

.lesson-three-task-ten::first-line {
    background-color: yellow;
}

input::placeholder {
    background-color: red;
}

.lesson-three-task-twelve li::before {
    content: "➤";
}

.lesson-three-task-thirteen li::after {
    content: "➤";
}